@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #F97316; /* สีส้ม */
  --color-background: #121212; /* สีดำ-เทาเข้ม */
  --color-surface: #1E1E1E; /* สีเทาสำหรับการ์ด */
  --color-text-main: #F9FAFB; /* สีขาว */
  --color-text-muted: #9CA3AF; /* สีเทาอ่อน */
  --font-kanit: var(--font-kanit), sans-serif;
  --font-cursive: var(--font-cursive), cursive;
}

@layer base {
  html {
  }
  body {
    @apply bg-background text-text-main font-kanit antialiased;
  }
}
